@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-counter-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.transform-cube {
  transform: rotate3d(1, -1, 0, 30deg) rotate(-2deg);
}
